<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDatabaseManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2388/DatabaseManager.svc/DatabaseManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseManager"
                contract="ServiceReference1.IDatabaseManager" name="BasicHttpBinding_IDatabaseManager" />
        </client>
    </system.serviceModel>
</configuration>